@media screen and (max-width: 800px) {
  body {
    background-color: #120136;
  }

  header {
    flex-direction: column;
  }

  .top-left {
    margin-left: 2rem;
    padding: 0;
  }

  .top-left h2 {
    font-size: 24px;
  }

  header .btn-grad {
    font-size: 14px;
  }

  .top-right {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .top-right img {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 600px;
  }

  .middle {
    display: none;
  }

  .mobile-middle {
    display: flex;
    flex-direction: column;
  }

  .main {
    max-width: 100%;
    padding: 1rem;
    margin: 0;
  }

  .ladies {
    display: flex;
  }

  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    margin: 0;
    width: 100%;
  }

  .footer-right {
    margin: 0;
    padding: 0;
    justify-content: space-between;
    width: 100%;
  }

  .footer-right h3 {
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
}
