@media screen and (max-width: 800px) {
  body {
    background-color: #120136;
  }

  header {
    flex-direction: column;
  }

  .top-left {
    margin: 0;
    padding: 0 1rem;
  }

  .top-left h2 {
    font-size: 24px;
  }

  header .btn-grad {
    font-size: 14px;
  }

  .top-right {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .top-right img {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 600px;
  }

  .mari,
  .vale {
    display: none;
  }

  .main {
    max-width: 90%;
    padding: 1rem;
    margin: 0;
  }

  .bubble {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bubble img {
    height: 200px;
    margin-bottom: -4rem;
  }

  .vale-mobile-bubble {
    margin-left: -5rem;
  }

  .ladies {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .ladies img {
    height: 300px;
    width: 175px;
  }

  .speech-bubble {
    display: none;
  }

  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    margin: 0;
  }

  .footer-right {
    margin: 0;
    padding: 0;
    justify-content: space-between;
    width: 100%;
  }

  .footer-right h3 {
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
}
