@media screen and (max-width: 800px) {
  body {
    background-color: #120136;
  }

  header {
    flex-direction: column;
  }

  .top-left {
    margin-left: 2rem;
    padding: 0;
  }

  .top-left h2 {
    font-size: 24px;
  }

  header .btn-grad {
    font-size: 14px;
  }

  .top-right {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .top-right img {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 600px;
  }

  .middle {
    flex-direction: column;
  }

  .main {
    padding: 0 2rem;
    max-width: 100%;
  }

  .main-text {
    margin: 0;
    padding: 0;
  }

  .maricruz,
  .vale {
    margin: 0;
    padding: 0;
  }

  .countdown {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 0;
  }

  .footer-right {
    margin: 0;
    padding: 0;
  }

  .footer-right h3 {
    margin: 0;
    padding: 0;
  }
}
